<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Sistema de Gestão de Suporte Técnico</h1>
        <a href="/cadastrar">Cadastrar Chamado</a>
        <a href="/atualizar">Atualizar Chamado</a>
        <a href="/excluir">Excluir Chamado</a>
        <a href="/reabrir">Reabrir Chamado</a>
    </div>
</body>
</html>
